@layer base {
    :root {
        --primary: 182, 99%, 35%;
        --secondary: 25, 95%, 53%;
        --background: 207, 95%, 8%;
    }
}

/* section 1 hexagons animation */
.mhex {
  perspective: 1000px;
}

.hexbox {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.mhex:hover .hexbox {
  transform: rotateY(180deg) scale(1.1);
}
.mhex:hover .hexbox1, .mhex:hover .hexbox5, .mhex:hover .hexbox6 {
  transform: rotateY(-180deg) scale(1.2);
}
.mhex:hover .hexbox2, .mhex:hover .hexbox3, .mhex:hover .hexbox4 {
  transform: rotateY(180deg) scale(1.2);
}

.frontbox,
.backbox {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backbox {
  transform: rotateY(180deg);
}

/* section 1 hexagons animation end */


/*section 2 styles */
.scbox{
    cursor: pointer;
    position: relative;
    transition-duration: 0.5s;
  }
  .scbox:hover {
    transform: scale(1) !important;
  }
  .scboxco:hover .scbox:not(:hover){
    opacity: .7;
    transform: scale(.85);
  }
  .scbox:hover h1{
    color: #fa65b1;
  }
  .scbox:hover a{
    color: #fa65b1;
  } 


  .br {
    position: absolute;
    right: -75%; /* Adjust as necessary */
    top: 55%;
    transform: translateY(-50%) rotate(90deg);
    width: 221px;
    height: 0;
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, #fa65b1 52%, rgba(255, 255, 255, 0.1) 100%) 1;
    border-image-slice: 1;
  }  
  @media (max-width: 768px) {
    .br {
        display: none;
    }
} 
@media (max-width: 1080px) {
  .br {
      display: none;
  }
} 
/* section 2 styles end */

/* section3 challenges styles */
.Challengesbox{
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(45deg,#fa65b1,#726ae3) border-box;
  border-top: 1px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
}

.ssc3box{
  border-radius: 15px;
}
/* sec3 styles end */

/* section5 styles start */

.ssec5box{
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(45deg,#fa65b1,#726ae3) border-box;
  border: 1.5px solid transparent;
  border-radius: 15px;
}
.ssec5box button{
  border: 1.5px solid #fa65b1;
  color: #fa65b1 !important;
  transition-duration: 1s;
}
.ssec5box button:hover{
  background-color: #fa65b1;
  color: #fff !important;
}

@media (max-width: 768px) {
    sec4s {
      width: 100vw;
    }
  }
  .challenge-button:hover{
    .mh2{
      color: #726ae3;
      transition: 1s ease;
    }
  }
  .challenge-box:hover{
    .ah2{
      color: #726ae3;
      transition: 1s ease;
    }
  }
